@use "../../styles/variables.scss" as vars;
@use "../../styles/animations.scss" as mixin;

.buttonMain {
    display: flex;
    align-items: center;
    background: vars.$btnBackground;
    height: 7rem;
    width: 100%;
    border-radius: vars.$btnBorRadius;
    padding: 0 2.7rem;

    &:hover {
        cursor: pointer;
    }

    &.isDisabled {
        background: vars.$btnDisabledBackground;

        &:hover {
            cursor: unset;
        }
    }

    &.isTopRowCard {
        @include mixin.animationBorder(borderAnimation, vars.$btnBackground, vars.$fontColor, vars.$hoverGreen);
        animation: borderAnimation 1.4s ease-in-out 80ms;
        animation-fill-mode: forwards;
    }

    &.isBottomRowCard {
        @include mixin.animationButton(buttonAnimation, vars.$btnBackground, vars.$hoverGreen);
        animation: buttonAnimation 1.4s ease-in-out 80ms;
        animation-fill-mode: forwards;
    }
}

.iconContainer {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

.buttonText {
    width: 100%;
    height: 2.4rem;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: -0.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: wrap;
    overflow: hidden;
    text-overflow: clip;

    &.iconVariant {
        margin-left: 1.9rem;
        text-align: left;
        height: 4.8rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
