@use '../../styles/variables.scss' as vars;

.cardsContainer {
    height: 100%;
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.8rem;
    row-gap: 1.8rem;
    grid-template-areas:
        "full first-top second-top third-top"
        "full fourth-bottom fifth-bottom sixth-bottom";

    .card {
        background: vars.$fontColor;
        padding: vars.$cardPadding;
        align-content: center;
        justify-content: center;
    }

    .card:first-of-type {
        grid-area: full;
        // background: red;
    }
    .card:nth-of-type(2) {
        grid-area: first-top;
        // background: blue;
    }
    .card:nth-of-type(3) {
        grid-area: second-top;
        // background: green;
    }
    .card:nth-of-type(4) {
        grid-area: third-top;
        // background: yellow;
    }
    .card:nth-of-type(5) {
        grid-area: fourth-bottom;
        // background: pink;
    }
    .card:nth-of-type(6) {
        grid-area: fifth-bottom;
        // background: rebeccapurple;
    }
    .card:nth-of-type(7) {
        grid-area: sixth-bottom;
        // background: yellowgreen;
    }
}
