@use "../../styles/variables.scss" as vars;
@use "../../styles/animations.scss" as mixin;

.card {
    background: vars.$fontColor;
    padding: vars.$cardPadding;
    display: grid;
    align-content: center;
    justify-content: center;

    &.defaultVariant {
        @include mixin.animation(backgroundAnimation, vars.$fontColor, vars.$hoverGreen);
    
        &:hover {
            animation: backgroundAnimation 1.4s ease-in-out 80ms;
            animation-fill-mode: forwards;
        }
    }

    &.borderVariant {
        align-content: start;
        padding-top: 5rem;
        
        @include mixin.animationCardBorder(borderCard, vars.$hoverGreen);
        &:hover {
            animation: borderCard 1.4s ease-in-out 80ms;
            animation-fill-mode: forwards;
        }
    }

    &.borderVariantButtonDisabled {
        align-content: start;
        padding-top: 5rem;
    }
}

.card:first-of-type {
    grid-area: full;
}
.card:nth-of-type(2) {
    grid-area: first-top;
}
.card:nth-of-type(3) {
    grid-area: second-top;
}
.card:nth-of-type(4) {
    grid-area: third-top;;
}
.card:nth-of-type(5) {
    grid-area: fourth-bottom;
}
.card:nth-of-type(6) {
    grid-area: fifth-bottom;
}
.card:nth-of-type(7) {
    grid-area: sixth-bottom;
}

